* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 1fr 40px;
    grid-template-areas:
        "header header header"
        "chat-list chat-window chat-window "
        "chat-list chat-window chat-window"
        "footer footer footer"

    ;
    width: 800px;
    height: 600px;
    border: 2px solid #000;
    background: #fff;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ddd;
    padding: 10px;
}


.chat-list {
    grid-area: chat-list;
    background: #f4f4f4;
    padding: 10px;
}


.chat-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    flex-direction: column;
    grid-area: chat-window;
    background: #fff;
    padding: 10px;
    flex: 1;
}


.messages {
    overflow-y: auto;
    background: #eaeaea;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.message {
    display: flex;
    background: #cce5ff;
    padding: 5px;
    border-radius: 5px;
    align-self: flex-start;
    max-width: 70%;
}

.message.right {
    align-self: flex-end; 
}

.message-input {
    display: flex;
    justify-items: end;
    width: 100%;
    padding: 10px;
}


.footer {
    flex: 1;
    align-content: center;
    grid-area: footer;
    background: #ddd;
    padding: 10px;
    text-align: center;
}

ul {
    list-style: none;
}